<h1>Mes tweets</h1>
<table>
    <tr>
        <th>Content:</th>
    </tr>
    <% @publications.each do |publication| %>
    <tr>
        <td> <%= publication.content %> </td>
        <td> <%= link_to 'Modifier tweet', edit_publication_path(publication.id)%> </td> 
    </tr>
    <% end %>
</table>
